h1 {
    font-size: 3.35rem;
}

h2 {
    font-size: 2.75rem;
}

h3 {
    font-size: 2.15rem;
}

h4 {
    font-size: 1.55rem;
}

.nav-wrapper {
    text-align: center;
    background-color: #26a69a;
}

.container {
    width: 100%;
}

.searchHistoryBtn {
    width: 100%;
    background-color: grey;
    margin-bottom: 5px;
}

.card-panel p {
    font-size: 11px;
}

.lowUV {
    background-color: #559e58;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.moderateUV {
    background-color: #ebe65b;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.highUV {
    background-color: #e64747;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

#forecastEl {
    display: flex;
}

@media screen and (max-width: 1000px) {
    #forecastEl {
        display: block;
    }
}
